@import "../../variables.scss";
input {
    // padding: 24px 30px;
    padding: 10px 20px;
    box-sizing: border-box;

    @include mainFontValue(normal, 500, 16px, 140%);

    color: #3d3d3d;
    background: #ffffff;
    border: 1px solid #ffefd8;
    border-radius: 8px;

    &::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        @include mainFontValue(normal, 500, 16px, 140%);

        color: #3d3d3d;
    }
    &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        @include mainFontValue(normal, 500, 16px, 140%);

        color: #3d3d3d;
        opacity: 1;
    }
    &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        @include mainFontValue(normal, 500, 16px, 140%);

        color: #3d3d3d;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        @include mainFontValue(normal, 500, 16px, 140%);

        color: #3d3d3d;
    }
    &::-ms-input-placeholder {
        /* Microsoft Edge */
        @include mainFontValue(normal, 500, 16px, 140%);

        color: #3d3d3d;
    }

    &::placeholder {
        /* Most modern browsers support this now. */
        @include mainFontValue(normal, 500, 16px, 140%);

        color: #3d3d3d;
    }
}
