@import "src/variables.scss";
.input {
    // padding: 24px 30px;
    padding: 10px 20px;
    box-sizing: border-box;

    @include mainFontValue(normal, 500, 16px, 140%);

    color: #3d3d3d;
    background: #ffffff;
    border: 1px solid #ffefd8;
    border-radius: 8px;

    @include inputPlaceholder(normal, 500, 16px, 140%, #3d3d3d);

    &:disabled {
        background-color: rgba(61, 61, 61, 0.3);
    }
}
.input-container {
    width: 100%;
}
.label {
    @include mainFontValue(normal, 500, 16px, 115%);
    margin: 0;
    color: #0f0f0f;
    margin-bottom: 10px;
}

.error {
    margin: 0 0 5px;
    @include mainFontValue(normal, 500, 14px, 140%);
    color: #e44f4f;
}
