@import "../../../../variables.scss";

/* autoprefixer grid: autoplace */
.our-trip__header {
    margin: 40px 0px;
    display: flex;
    align-items: center;
}

.our-trip__title {
    @include titleFont;
    font-size: 48px;
    line-height: 115.75%;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: $mainColor;
    margin: 0px;
    // margin-left: 23px;
}
.our-trip__error {
    text-align: left;
    @include mainFontValue(normal, 400, 16px, 120%);
}

.our-trip__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;

    @media screen and (max-width: 1040px) {
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 650px) {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 700px) {
    .our-trip__title {
        font-size: 32px;
    }
    .our-trip__header {
        margin: 20px 0px;
    }
}
@media screen and (max-width: 500px) {
    .our-trip__title {
        font-size: 28px;
    }
    .our-trip__img {
        width: 80px;
    }
}
