@import "../../../../variables.scss";
@import "../../../../styles/sectionTitle.scss";

.rental-brands__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.rental-brands__container.rental-brands__container_mobile {
    display: none;
}

.rental-brands__img {
    width: 144px;
    height: 156px;
    object-fit: contain; /* Вписываем фотографию в область */
    margin-right: 25px;
    margin-bottom: 25px;
}
.rental-brands__title {
    margin-bottom: 70px;
    margin-top: 50px;
}
@media screen and (max-width: 630px) {
}

@media screen and (max-width: 630px) {
    .rental-brands__title {
        margin-bottom: 40px;
    }
    .rental-brands__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .rental-brands__img {
        width: 120px;
        height: 136px;
        object-fit: contain; /* Вписываем фотографию в область */
        margin-right: 5px;
        margin-bottom: 15px;
    }
    .rental-brands__container {
        display: none;
    }
    .rental-brands__container.rental-brands__container_mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .rental-brands__class {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }
    }
}
