@import 'vars';

.pozitiv {
    &__order-edit-form {

        &__control-block {
            margin-bottom: 20px;
            display: flex;
            justify-content: flex-end;
            padding-right: 20px;

            button {
                margin-left: 10px;
            }
        }

        &__col {
            &-1-3 {
                flex: 1 1 33.33%;
                box-sizing: border-box;
                padding: 0 10px;
            }
            &-1-2 {
                flex: 1 1 50%;
                box-sizing: border-box;
                padding: 0 10px;
            }
            &-2-3 {
                flex: 1 1 66.66%;
                box-sizing: border-box;
                padding: 0 10px;
            }
        }

        &__row {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
        }

        &__paystatus {
            display: flex;
            align-items: center;
            margin-right: 30px;

            span {
                font-weight: bold;
            }
        }

        &__status {
            line-height: 32px;
            font-size: 14px;
            margin-right: 20px;

            span {
                font-weight: 600;
            }
        }

        &__block-h {
            text-align: center;
            display: block;
            font-weight: bold;
            line-height: 2;
            margin-bottom: 10px;
        }

        &__field {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 15px;

            label {
                font-size: 13px;
                color: #50575e;
            }

            input {
                box-sizing: border-box;
                width: 100%;
            }
        }

        .tourist-services-block {
            border: 1px solid $clrBorder;
            padding: 5px;
            border-radius: 5px;

            &__footer {
                display: flex;
                justify-content: center;
                padding: 5px 0;

                button {
                    display: none;
                }
            }
        }

        .tourist-item {
            margin-bottom: 15px;
            background-color: #f7f7f9;

            &__header {
                padding: 5px 10px;
                display: flex;
                border-radius: 3px;
                border-bottom: 1px solid #e2e2e3;


                &__number {
                    font-weight: bold;
                    display: block;
                    margin-right: 5px;
                }

                &__name {
                    font-weight: bold;
                    justify-self: flex-end;
                    margin-right: auto;
                }

                &__toggler {
                    cursor: pointer;
                    padding: 0 10px;
                    user-select: none;
                }


            }

            &__data {
                height: 0;
                overflow: hidden;

                &__row {
                    padding-top: 15px;

                }
            }
        }

        .tourist-service-item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: #f7f7f9;
            margin-bottom: 5px;
            padding: 5px;

            span {
                flex: 1 1 70%;
                line-height: 1.1;
            }

            input {
                flex: 1 1 28%;
                width: unset;
                max-width: 70px;
                min-width: unset;
            }

            button {
                flex: 0 0 30px;
                height: 30px;
                width: 30px;
                margin-left: 10px;
            }
        }

        .payment-item-new {
            display: flex;
            justify-content: space-between;
            background-color: #f7f7f9;
            padding: 5px 10px;
            margin-bottom: 10px;
            align-items: stretch;

            &__button {
                display: flex;
                justify-content: center;
                flex-direction: column;
            }

            .pozitiv__order-edit-form__field {
                margin-bottom: 0;
            }
        }

        #servicesListAvailable {
            background-color: #e3e3e6;
            border-radius: 5px;
            padding: 0;
            margin: 10px 20px;
            position: relative;
            overflow: hidden;
            height: 0;

            &.opened {
                height: auto;
                padding: 10px;
                border: 1px solid $clrBorder;
            }

            .closer {
                position: absolute;
                top: 0;
                right: 0;
                width: 20px;
                height: 20px;
                text-align: center;
                color: black;
                cursor: pointer;
                border:none;
            }

            ul {
                padding: 0;
                margin: 0;
            }

            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 30px;
                background-color: white;
                border-radius: 3px;
                margin-bottom: 5px;
                padding: 3px 10px;
            }
        }
    }
}

