@import 'vars';

.pos-ui {
    &__button {
        border-width: 1px;
        border-style: solid;
        border-radius: 3px;

        &--big {
            font-size: 16px;
            padding: 5px 10px;
        }

        &--blue {
            $buttonClr: #007cba;

            color: $buttonClr;
            border-color: $buttonClr;
            background-color: white;

            &:hover {
                background-color: $buttonClr;
                color: white;
            }
        }

        &--red {
            $buttonClr: #ff7c7c;

            color: $buttonClr;
            border-color: $buttonClr;
            background-color: white;

            &:hover {
                color: white;
                background-color: $buttonClr;
            }
        }

        &--green {
            $buttonClr: green;

            color: $buttonClr;
            border-color: $buttonClr;
            background-color: white;

            &:hover {
                color: white;
                background-color: $buttonClr;
            }
        }

        &--gray {
            $buttonClr: #808080;
            color: $buttonClr;
            border-color: $buttonClr;
            background-color: white;

            &:hover {
                color: white;
                background-color: $buttonClr;
            }
        }
    }

    &__link {
        text-decoration:  underline;

        &--blue {
            $buttonClr: #007cba;

            color: $buttonClr;

            &:hover {
            }

        }

        &--red {
            $buttonClr: #ff7c7c;

            color: $buttonClr;

            &:hover {
            }


        }

        &--gray {
            $buttonClr: #808080;
            color: $buttonClr;

            &:hover {
            }
        }
    }
}

.pozitiv {


    &__admin-page {

        &__section {
            background-color: white;
            padding: 38px 14px 14px;
            border-radius: 8px;
            border: 1px solid $clrBorder;
            margin-bottom: 20px;
            position: relative;
            overflow: hidden;
            box-sizing: border-box;
            width: calc(100% - 20px);

            & > h2 {
                font-size: 12px;
                font-weight: 600;
                color: $clrBlue;
                display: block;
                position: absolute;
                top: -1px;
                left: 0;
                border: 1px solid $clrBorder;
                height: 24px;
                line-height: 24px;
                padding: 0 20px;
                margin: 0;
                background-color: #fafafb;
            }
        }
    }
}