@import "../../variables.scss";
/* autoprefixer grid: autoplace */

// .main {
//     position: relative;
//     .main__contant {
//         position: relative;
//         top: 106px;
//     }
//     @media screen and (max-width: 450px) {
//         .main__contant {
//             top: 80px;
//         }
//     }
// }

// .page {
//     width: 100%;
//     position: relative;
//     //overflow: hidden;
// }
// .background-container {
//     width: 100%;
//     height: calc(100vh - 106px);
//     min-height: 550px;
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     @media screen and (max-width: 800px) {
//         & {
//             min-height: 400px;
//         }
//     }
//     .page__background {
//         @media screen and (min-width: 320px) {
//             & {
//                 position: relative;
//                 height: 100%;
//                 right: 22%;
//                 top: 10%;
//                 object-fit: cover;
//                 z-index: -1;
//             }
//         }
//         @media screen and (min-width: 425px) {
//             & {
//                 min-width: 100%;
//                 right: 0px;
//             }
//         }

//         @media screen and (min-width: 1024px) {
//             & {
//                 width: 150%;
//             }
//         }
//         @media screen and (min-width: 1280px) {
//             & {
//                 width: 100%;
//             }
//         }
//         @media screen and (max-width: 450px) {
//             & {
//                 height: calc(100vh - 80px);
//             }
//         }
//     }
// }
// .page__background_footer {
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     bottom: 0px;
//     left: 0px;
//     z-index: -1;
//     box-sizing: border-box;
//     img {
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//         object-position: left;
//     }

//     @media screen and (max-width: 1040px) {
//         height: 650px;
//     }
//     @media screen and (max-width: 800px) {
//         height: 500px;
//     }
// }
// .page__background_footer-winter {
//     img {
//         object-position: 40% 0px;
//     }
// }

// .positive-is__background {
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     z-index: -1;

//     opacity: 0.3;
//     width: 100%;
//     top: 0px;
//     max-height: 900px;
//     overflow: hidden;

//     img {
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//     }

//     @media screen and (max-width: 1280px) {
//         & {
//             height: 800px;
//         }
//     }
//     @media screen and (max-width: 650px) {
//         & {
//             height: 800px;
//         }
//     }
// }
// .pageContent {
//     display: flex;
//     flex-direction: column;
//     max-width: 1140px;
//     margin: 0px auto;
// }
// @media screen and (max-width: 1280px) {
//     .page {
//         box-sizing: border-box;
//         padding: 0px 80px;
//     }
// }
// @media screen and (max-width: 1040px) {
//     .page {
//         padding: 0px 40px;
//     }
// }

// @media screen and (max-width: 500px) {
//     .page {
//         padding: 0px 20px;
//     }
// }

.card__container {
    width: 100%;
    iframe {
        width: 100%;
    }
}
.card__text {
    margin-top: 0;
    @include mainFont;
    font-size: 16px;
    line-height: 115.75%;
    color: #828282;
}
.card__header {
    margin: 40px 0px;
    display: flex;
    align-items: center;
}

.card__title {
    @include titleFont;
    font-size: 48px;
    line-height: 115.75%;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: $mainColor;
    margin: 0px;
    // margin-left: 23px;
}

@media screen and (max-width: 700px) {
    .card__title {
        font-size: 32px;
    }
    .card__header {
        margin: 20px 0px;
    }
}
@media screen and (max-width: 500px) {
    .card__title {
        font-size: 28px;
    }
    .card__img {
        width: 80px;
    }
}
