@keyframes radial-pulse_preview {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.9);
    }
}
.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        cursor: pointer;
    }
    &__pulse {
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        animation: radial-pulse_preview 2.5s infinite;
    }
}
