@import "../../variables.scss";

.page {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;

    &__container {
        width: 50%;
        height: 100%;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 15% 0%;
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            filter: grayscale(100%);
            filter: gray; /* IE 6-9 */
            transition: filter 0.5s ease-in-out;
        }
    }
    &__img_summer {
        img {
            object-position: 100% 0%;
        }
    }

    &__title {
        @include titleFont;
        font-size: 48px;
        line-height: 150%;
        text-transform: uppercase;
        text-align: center;

        color: #fff;
        //$mainColor;

        margin: 0;
        transition: color 0.6s ease-in-out;
        @media screen and (max-width: 600px) {
            font-size: 28px;
        }
    }

    &__title-container {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: -10%;
            left: 0;
            width: 100%;
            height: 110%;
            z-index: -1;

            background: #000;
            opacity: 0.8;
            filter: blur(42px);
        }

        @media screen and (max-width: 600px) {
            width: 100%;
        }
        animation: text 2.5s ease-in;
    }

    @media screen and (max-width: 1040px) {
        flex-direction: column;

        &__container {
            width: 100%;
            height: 50%;
        }

        &__img {
            img {
                // filter: none;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 0% 20%;
            }
        }

        &__img_summer {
            img {
                object-position: 0% 85%;
            }
        }
    }
}
