@import "../../../../variables.scss";
@import "../../../../styles/sectionTitle.scss";

.sectionTitle_serviceRent {
    margin-bottom: 68px;
}
.serviceRent__container {
    margin-bottom: 70px;
    padding-bottom: 80px;
}
.serviceRent__service {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    .service__name {
        @include mainFontValue(normal, 600, 18px, 115.75%);
        max-width: 550px;
        text-transform: uppercase;
        margin: 0px;
        margin-bottom: 5px;
        @media screen and (max-width: 630px) {
            @include mainFontValue(normal, 600, 14px, 115.75%);
            max-width: 260px;
        }
    }
    .service__description {
        @include mainFontValue(normal, 500, 16px, 115.75%);
        color: $secondaryColor;
        margin: 0px;
        margin-bottom: 15px;
        @media screen and (max-width: 630px) {
            @include mainFontValue(normal, 600, 14px, 115.75%);
            max-width: 260px;
        }
    }
    .service__price {
        @include mainFontValue(normal, 600, 18px, 115.75%);
        margin: 0px;
        min-width: 76px;
        text-align: right;
        @media screen and (max-width: 630px) {
            @include mainFontValue(normal, 600, 14px, 115.75%);
            min-width: 60px;
        }
    }
    .service__price_active {
        color: $highlightColor;
    }
}
